@font-face {
	font-family: gravity;
	src: url('gravity.woff2');
}

html, body, #background {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	font-family: gravity, sans-serif;
	font-size: 1.2rem;
	color: #DDD;
	box-shadow: 0 0 25em black inset;
	background-color: #222;
}

#background {
	position: absolute;
	z-index: -1;
	opacity: 0.5;
	transition: opacity 1s;
	object-fit: cover;
}

main {
	width: 60vw;
	margin: 0 auto;
	padding: 15vh 0;
}

#title {
	padding-bottom: 10vh;
	font-size: 20vw;
	font-weight: bold;
	text-align: center;
	color: #FFF;
}

#message {
	display: inline-block;
	transition: opacity 0.25s;
}

#percent {
	float: right;
}

progress[value] {
	width: 100%;
	height: 2rem;
	-webkit-appearance: none;
}
progress[value]::-webkit-progress-bar {
	background-color: #333;
	border-radius: 1rem;
}
progress[value]::-webkit-progress-value {
    transition: width 0.5s;
}
progress::-webkit-progress-value {
	background: green;
	border-radius: 1rem;
}
